<title>20 que</title>
<div id="retrain">
<h1>{{obj_id}}</h1><h1>{{obj_val}}</h1>
<form name="retrain" action="/admin/retrain/{{obj_id}}" method="post">
    <table>
    {% for key, value in questions.items() %}
        <tr>
            <td>{{value}} <span class="value">current={{data[(obj_id, key)]}}</span></td>
            <td><label><input type="radio" name="{{key}}" value="yes">Yes</label><label><input type="radio" name="{{key}}" value="unsure">Unsure</label><label><input type="radio" name="{{key}}" value="no">No</label></td>
        </tr>
	{%endfor%}
    </table>
    <input type="submit" value="submit">
</form>
</div>
